---
import BaseLink from '@/components/SectionLink/BaseLink.astro';

export type SimpleLink = {
  name: string;
  description: string;
  homepage: string;
};

const { name, description, homepage } = Astro.props as SimpleLink;
---

<BaseLink href={homepage}>
  <p class="md:w-1/4">{name}</p>
  <p class="md:flex-1 text-gray-500">{description}</p>
</BaseLink>
