---
import type { Course } from '@/components/SectionLink/Course.astro';
import { getCollection } from 'astro:content';
import BaseSection from '@/components/ProfileSection/BaseSection.astro';
import SectionLink from '@/components/SectionLink';

const courses: Course[] = (await getCollection('courses')).map(
  ({ data: { code, title, course, campus, homepage, description } }) => ({
    code,
    title,
    course,
    campus,
    homepage,
    description,
  })
);
---

{
  courses.length && (
    <BaseSection title="Ensino">
      <nav>
        {courses.map((course) => (
          <SectionLink.Course {...course} />
        ))}
      </nav>
    </BaseSection>
  )
}
