---
import type { ActivityLink } from '@/components/SectionLink/Activity.astro';
import { getCollection } from 'astro:content';
import BaseSection from '@/components/ProfileSection/BaseSection.astro';
import SectionLink from '@/components/SectionLink';

const educations: ActivityLink[] = (await getCollection('educations')).map(
  ({ data: { school, title, url, program, startDate, endDate } }) => ({
    name: school,
    description: title,
    url,
    startDate,
    endDate: endDate ?? '-',
  })
);

const experiences: ActivityLink[] = (await getCollection('experiences')).map(
  ({ data: { company, title, homepage, startDate, endDate } }) => ({
    name: company,
    description: title,
    url: homepage,
    startDate,
    endDate: endDate ?? '-',
  })
);

const occupations: ActivityLink[] = [...educations, ...experiences];

occupations.sort((a, b) => {
  if (a.endDate === '-' && b.endDate !== '-') return -1;
  if (a.endDate !== '-' && b.endDate === '-') return 1;
  if (a.endDate === b.endDate) return Number(b.startDate) - Number(a.startDate);
  return Number(b.endDate) - Number(a.endDate);
});
---

{
  !!occupations.length && (
    <BaseSection title="Trabalho/Formação">
      <nav>
        {occupations.map((occupation) => (
          <SectionLink.Activity {...occupation} />
        ))}
      </nav>
    </BaseSection>
  )
}
