---
import type { ActivityLink } from '@/components/SectionLink/Activity.astro';
import { getCollection } from 'astro:content';
import BaseSection from '@/components/ProfileSection/BaseSection.astro';
import SectionLink from '@/components/SectionLink';

const projects: ActivityLink[] = (await getCollection('projects')).map(
  ({
    data: { codeName, origin, type, description, homepage, startDate, endDate },
  }) => ({
    name: `${codeName} (${origin} - ${type})`,
    description: description,
    url: homepage,
    startDate,
    endDate: endDate ?? '-',
  })
);

projects.sort((a, b) => {
  if (a.endDate === '-' && b.endDate !== '-') return -1;
  if (a.endDate !== '-' && b.endDate === '-') return 1;
  if (a.endDate === b.endDate) return Number(b.startDate) - Number(a.startDate);
  return Number(b.endDate) - Number(a.endDate);
});
---

{
  !!projects.length && (
    <BaseSection title="Projetos">
      <nav>
        {projects.map((project) => (
          <SectionLink.Activity {...project} />
        ))}
      </nav>
    </BaseSection>
  )
}
