---
import type { SimpleLink } from '@/components/SectionLink/Simple.astro';
import { getCollection } from 'astro:content';
import BaseSection from '@/components/ProfileSection/BaseSection.astro';
import SectionLink from '@/components/SectionLink';

const publications: SimpleLink[] = (await getCollection('publications')).map(
  ({ data: { local, year, title, url } }) => ({
    name: `${local.split(' - ')[0]} (${year})`,
    description: title,
    homepage: url,
  })
);
---

{
  !!publications.length && (
    <BaseSection title="Publicações">
      <nav>
        {publications.map((publication) => (
          <SectionLink.Simple {...publication} />
        ))}
      </nav>
    </BaseSection>
  )
}
