---
import { PROFILE } from '@/lib/profile';
import ProfileSection from '@/components/ProfileSection';
import HeroSection from '@/components/HeroSection.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{PROFILE.name}</title>
  </head>
  <body class="text-lg">
    <div class="container max-w-screen-md mx-auto space-y-14 px-4 py-6">
      <HeroSection />

      <ProfileSection.Skill />

      <ProfileSection.Occupation />

      <ProfileSection.Course />

      <ProfileSection.Project />

      <ProfileSection.Publication />
    </div>
  </body>
</html>
