---
export type Activity = {
  name: string;
  description: string;
  startDate: number;
  endDate: number | '-';
};

const { name, description, startDate, endDate } = Astro.props as Activity;
---

<p class="md:w-1/4">{name}</p>
<p class="md:flex-1 text-gray-500 order-1 md:order-none basis-full">
  {description}
</p>
<p class="text-gray-500 flex">
  <span class="tabular-nums">{startDate}</span>
  <span>-</span>
  {
    endDate === '-' ? (
      <span class="tabular-nums text-transparent">00</span>
    ) : (
      <span class="tabular-nums">{String(endDate).slice(2)}</span>
    )
  }
</p>
